:root {
  --accent-color: #ff6b01;
  --primaryTextColor: #000000;
  --secondaryTextColor: #ffffff;
  --footerTextColor: #545454;
  --card-item: 1;
  --card-gap: 30px;
  // --card-gap: 30px;
  // --card-item: 1;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  //   color: var(--primaryTextColor);

  // background-color: #ffffff;
  //   overflow-x: hidden;
}
.night {
  background: #141414;
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
// .nigthText {
//   color: #ffffff;
// }

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a {
  text-decoration: none;
}

img {
  display: block;
  // height: 574px;
}

.is-hidden {
  display: none;
}

button {
  cursor: pointer;
}
