.backdrop {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  // transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
  //   visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 4s cubic-bezier(0.4, 0, 0.2, 1);

  // &.is-hidden {
  //   visibility: hidden;
  //   opacity: 0;
  //   pointer-events: none;
  // }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 5s linear;

  width: 280px;
  background-color: white;
  padding: 0 20px;
  padding-top: 48px;
  padding-bottom: 40px;
  position: relative;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 704px;
    display: flex;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    padding: 40px 12px;
  }
}

.beckdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(45deg);
}

.close-button {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;

  background: #ffffff;
  border: none;
  box-sizing: border-box;
  z-index: 3;
  cursor: pointer;
  background-image: url(../images/close-bla1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

// --------------

.modal__img {
  display: block;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    max-width: 264px;
    margin-right: 68px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 375px;
    margin-right: 16px;
  }
}

.modal__tatel {
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.info-items {
  display: flex;
  align-items: baseline;
}

.info-items:not(:last-child) {
  margin-bottom: 8px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  min-width: 108px;
}

.votes-box {
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.modal__vote {
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: 1.16;
  padding: 1px;
  padding-left: 8px;
  padding-right: 5px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
  body.night & {
    background-color: #13b3ff;
  }
}

.modal__votes {
  font-size: 12px;
  line-height: 1.16;
  color: var(--primaryTextColor);
}

.modal__populars {
  font-size: 12px;
  line-height: 14px;
  color: var(--primaryTextColor);
}

.origenal__tatel {
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--primaryTextColor);
}

.modal__genre {
  font-size: 12px;
  line-height: 1.16;
  color: var(--primaryTextColor);
}

.gender_ris {
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.about {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primaryTextColor);
  margin-top: 20px;
  margin-bottom: 8px;
}

.about_text {
  font-size: 12px;
  line-height: 1.66;
  color: var(--primaryTextColor);
  margin-bottom: 20px;
}

.btn__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.btn__add {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primaryTextColor);
  border: 1px solid #000000;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
}

.btn__add:not(:last-child) {
  @media screen and (min-width: 1280px) {
  }

  margin-right: 15px;
}

.btn__add-click {
  color: var(--secondaryTextColor);
  border: none;
  background-color: #ff6b01;
  body.night & {
    background-color: #13b3ff;
    // border: 1px solid rgb(0, 0, 0); box-shadow: none; color: rgb(0, 0, 0);"
  }
}
// .btn__youTube {
//   background-color: transparent;
//   background-image: url(../images/YouTube-Logo.wine.svg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 120px;
//   height: 60px;
//   border: none;
//   // margin-top: 10px;
//   margin-left: 50px;
//   @media screen and (min-width: 768px) {
//     margin-left: 65px;
//   }
//   @media screen and (min-width: 1280px) {
//     margin-top: 20px;
//   }
// }
