.backstage {
  position: fixed;
  z-index: 99;
  //   top: 0;
  //   left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.712);
  opacity: 1;
  visibility: visible;

  //   transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1),
  //     visibility 4s cubic-bezier(0.4, 0, 0.2, 1);
}
.iframe_container {
  position: absolute;
  top: 25%;
  margin: 0 auto;
}
.closeIframe {
  position: absolute;
  top: 10%;
  right: 6%;
  background-image: url(../images/svgToHbs/circle-close-o_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.youTubeTrailer {
  width: 560px;
  height: 315px;
  @media screen and (min-width: 320px) {
    width: 300px;
    height: 190px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 460px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 460px;
  }
}
.btn__youTube {
  background-color: transparent;
  background-image: url(../images/YouTube-Logo.wine.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 60px;
  border: none;
  // margin-top: 10px;
  margin-left: 50px;
  @media screen and (min-width: 768px) {
    margin-left: 65px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}
