.ligth-checkbox {
  position: absolute;
  top: 80%;
  left: 47%;
  transform: (-50% -50%);
}
input[type='checkbox'] {
  position: relative;
  width: 90px;
  height: 30px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
input:checked[type='checkbox'] {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
  z-index: 2;
}
input:checked[type='checkbox']:before {
  left: 30px;
}
input[type='checkbox']:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 50px;
  width: 3px;
  height: 3px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
  z-index: 3;
}
input:checked[type='checkbox']:after {
  background: #63cdff;
  left: 80px;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

.switch-icons {
  position: relative;
}

.moon-icon {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.sun-icon {
  position: absolute;
  top: 5px;
  left: 65px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  fill: yellow;
}
.sun-icon .is-off {
  fill: black;
}
.nightText {
  color: white;
}
.library_alert {
  body.night & {
    color: #fff;
    background-color: #272e34;
    margin-bottom: 80vh;
  }
}
.is-selected {
  body.night & {
    background-color: #13b3ff;
  }
}
