.cards-film_list,
.library-film_list {
  margin-top: 20px;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.film-card {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.film-image {
  width: 280px;
  height: 402px;
  border-radius: 6px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    object-fit: fill;
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}
.info {
  //   padding-top: 12px;
  //   max-width: 280px;
  //   max-height: 32px;
  //   font-family: 'Roboto';
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 1.33;
  //   text-transform: uppercase;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 395px;
  }
}
.film-tittle {
  text-transform: uppercase;
  color: #000000;

  body.night & {
    color: #fff;
  }
}

.film-genre {
  color: #ff6b08;
}
.film-year {
}
.film-raiting {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.library-film_list li,
.cards-film_list li {
  // border: solid 1px #ff6b08;
  transform: scale(1);
  &:hover,
  &:focus {
    transform: scale(1.02);
    border-radius: 3px;
    box-shadow: 0px 3px 3px #ff6b08;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
