.section-cards-film {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.cards-film_list,
.library-film_list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-right: -32px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: -16px;
  }
}

.film-card {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
.film-image {
  width: 280px;
  height: 402px;
  border-radius: 6px;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    object-fit: fill;
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
  transform: scale(1);
  &:hover,
  &:focus {
    transform: scale(1.02);
    border-radius: 3px;
    box-shadow: 0px 3px 3px #ff6b08;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  // &:hover,
  // &:focus {
  //   box-shadow: 7px -7px 21px rgba (255, 107, 1, 0.6);
  //   opacity: 0.9;
  // }
}
.info {
  padding-top: 8px;
  max-width: 280px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 768px) {
    max-width: 336px;
    padding-top: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 395px;
  }
}
.film-tittle {
  text-transform: uppercase;
  color: #000000;

  body.night & {
    color: #fff;
  }
}

.film-genre {
  color: #ff6b08;
}
.film-raiting {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.16;
  background-color: #ff6b08;
  color: #fff;
  border-radius: 5px;
}

.library-film_list li,
.cards-film_list li {
  margin-bottom: 20px;

  // border: solid 1px #ff6b08;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}
